<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
    <title>登录页面</title>
</head>
<link th:href="@{/webjars/bootstrap/3.4.1/css/bootstrap.css}"/>
<script th:src="@{/webjars/bootstrap/3.4.1/js/bootstrap.js}"></script>
<script th:src="@{/webjars/jquery/1.9.0/jquery.js}"></script>
<body>
登录名1：<input name="userName" id="userName" value="" type="text">
密码2：<input name="passWord" id="passWord" type="password">
<button class="btn-success" onclick="login();">登录</button>
</body>
<script>

    function login() {
       var passWord= $("#passWord").val();
       var userName= $("#userName").val();
        $.ajax({
            type : "POST",
            url:"/doLogin",
            data:{"passWord":passWord,"userName":userName},
            dataType : "json",
            success : function(data) {

            }
        });
    }
</script>
</html>